In [1]:
!which python

/Users/wilsonbb/lincc/nested/dropna/nested-pandas/.conda/bin/python

In [2]:
!which pip

/Users/wilsonbb/lincc/nested/dropna/nested-pandas/.conda/bin/pip

In [1]:
import nested_pandas as npd
import pandas as pd

In [4]:
data = pd.DataFrame({
    'a': [],#1, 2, 3],
    'b': []#,4, float('nan'), 6],
})#, index=pd.Series([0, 1, 2], name='idx'))

packed = pd.DataFrame({
    'c': [],#7, 8, 9, 10, 11, 12],
    'd': [],#10, float('nan'), 12, float('nan'), 13, 14],
})#, index=pd.Series([0, 0, 1, 1, 2, 2], name='idx'))

In [5]:
nf = npd.NestedFrame(data=data)
nf = nf.add_nested(packed, name='packed')

print(data.index)
print(packed.index)
print(nf.index)
print(nf.packed.index)
print(nf.packed.nest.to_flat().index)

RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=0, stop=6, step=1)
RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=0, stop=3, step=1)
Index([0, 1, 2], dtype='int64')

In [6]:
packed

      c     d
idx
0     7  10.0
0     8   NaN
1     9  12.0
1    10   NaN
2    11  13.0
2    12  14.0

In [7]:
nf = npd.NestedFrame(data=data)
nf

     a    b
idx
0    1  4.0
1    2  NaN
2    3  6.0

In [8]:
nf = nf.add_nested(packed, name='packed')

In [9]:
print(nf.nested_columns)
print(nf.columns)

['packed']
Index(['a', 'b', 'packed'], dtype='object')

In [10]:
nf.packed.nest.to_flat()

    c     d
0   7  10.0
0   8   NaN
1   9  12.0
1  10   NaN
2  11  13.0
2  12  14.0

In [11]:
nf

     a    b                               packed
idx
0    1  4.0        c     d
0  7  10.0
1  8   NaN
1    2  NaN      c     d
0   9  12.0
1  10   NaN
2    3  6.0      c     d
0  11  13.0
1  12  14.0

In [12]:
nf.packed.nest.to_flat()

    c     d
0   7  10.0
0   8   NaN
1   9  12.0
1  10   NaN
2  11  13.0
2  12  14.0

In [13]:
full = nf.merge(nf.packed.nest.to_flat(), left_index=True, right_index=True).drop(columns=['packed'])
print(type(full))
full

<class 'nested_pandas.nestedframe.core.NestedFrame'>

   a    b   c     d
0  1  4.0   7  10.0
0  1  4.0   8   NaN
1  2  NaN   9  12.0
1  2  NaN  10   NaN
2  3  6.0  11  13.0
2  3  6.0  12  14.0

    c     d
1   9  12.0
1  10   NaN

In [ ]:
def func(a, b, c):
    return a + b + c


# Figure out that C is a nested column
output_frame = # define meta
result = nf.batch(func, 'a', 'b', 'packed.c')

nf.join(result)

In [18]:
nf

     a    b                               packed
idx
0    1  4.0        c     d
0  7  10.0
1  8   NaN
1    2  NaN      c     d
0   9  12.0
1  10   NaN
2    3  6.0      c     d
0  11  13.0
1  12  14.0

In [50]:
new_pack = nf.packed.nest.to_flat().query("c > 8")
new_pack

    c     d
1   9  12.0
1  10   NaN
2  11  13.0
2  12  14.0

In [49]:
nf.add_nested(new_pack, name='packed')

TypeError: Invalid value '<NA>' for dtype nested<c: [int64], d: [double]>

In [28]:
nf.packed

idx
0          c     d
0  7  10.0
1  8   NaN
1        c     d
0   9  12.0
1  10   NaN
2        c     d
0  11  13.0
1  12  14.0
Name: packed, dtype: nested<c: [int64], d: [double]>

In [42]:
nf.packed.nest

In [56]:
nf.packed.nest.to_flat()

Index([0, 0, 1, 1, 2, 2], dtype='int64')

In [52]:
def calc_median(x):
    return x.median()


result = nf.packed.nest.to_flat().groupby('idx').apply(calc_median)

KeyError: 'idx'